body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: #30473f;
}

h1 {
	text-align: center;
	color:mintcream;
}

.container {
	margin:0 auto;
	width: fit-content;
}

canvas {
	border:2px solid mintcream;
	width:550px;
	display:block;
	
}

input {
	font-size:18px;
}

input[type="button"] {
	padding:8px;
	background-color: #00807a;
	color:mintcream;
	border:1px outset #00807a;
	margin: 3px 5px;
	cursor:pointer;
}

input[type="file"] {
	margin-left:5px;
}